body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.nav{
    width: 1000px;
    height: 60px;
    background-color: rgba(70, 66, 66, 0.863);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    margin-left: 20px;
 
}
.nav-links {
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.nav a {
    color: #ffffff;
    text-decoration: none;
}
.btn {
        height: 35px;
        width: 100px;
        background-color: #2114d8;
        color: #ffffff;
        border: none;
        font-size: 15px;
        box-shadow: 5px 5px #000000;
}