*{
    padding: 0px;
    margin: 0px;
}
.container{
    width:400px;
    padding:10px;
    margin-top: 20px;
    margin-left: 80px;
}
.box{
    align-items: center;
    padding: 20px;
    border:3px solid black;
}
.row1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin : 20px;

}
button{
    background-color:rgb(247, 210, 48);
    color: black;
    width:90px;
    height:30px;
    border:3px solid black;
    box-shadow:3px 3px black;
}