* {
    margin:0;
    padding:0;
}
body{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}
.flex-container {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whitebar h1, 
.whitebar h2,
.whitebar h3,
.whitebar p {
    margin: 20px 0px;
}
.container {
    width: 100%;
    background-color: #fff;
    border-color: dimgray;
    border-style:solid;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;}

.image1{
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
    
.bluebar{
       background-color: darkcyan;
       height: 125px;
       margin-bottom: 70px;
}
.whitebar{
    padding: 20px;
}
.image{
    width: 20px;
    height: 22px;
}
a {
    color: #3a81e6;
}