body{
display: flex;
}
h1,h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}.container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border-color: dimgray;
    border-style:solid;
}
.bluebar{
        width: 600px;
        height: 100px;
        margin: 0 auto;
       background-color: darkcyan;
}
.whitebar{
        width: 600px;
        height: 500px;
        margin: 40px;}
.image{
    width: 20px;
    height: 22px;
}
.image1{
    width: 99px;
    height: 99px;
    border: 10px;
    border-color:rgb(155, 19, 19);
}
.round{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgb(0, 0, 0);
    border-color: dimgray;
    border-style:solid;
    position: relative;
    left:430px;
    top: 45px;
}
