.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 5px;px;
    position:relative;
}
.blue {
    height: 200px;
    background-color: rgb(109, 182, 231);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pink {
    height: 200px;
    background-color: rgb(243, 146, 222);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.white {
    height: 200px;
    background-color: rgb(186, 245, 119);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img {
    height: 180px;
}